body{
    background-color: #ACC8A2;
}
header{
    background-color: #1A2517;
    display: flex;
    justify-content: center;
    color: white;
    height: 55px;
    align-items: center;
    
}
header > a > img{
    width: 30px;
    margin-right: 10px;
    margin-top: 3px;

}
header > h1{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Inter";
    color: #ACC8A2 ;
}