body{
    background-color: #ACC8A2;
}
header{
    background-color: #1A2517;
    display: flex;
    justify-content: center;
    color: white;
    height: 55px;
    align-items: center;
    
}
header > a > img{
    width: 30px;
    margin-right: 10px;
    margin-top: 3px;

}
header > h1{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Inter";
    color: #ACC8A2 ;
}
.travel-entry{
    display: flex;
    margin:60px 200px;
   
 
}
.travel-entry .marker {
    width: 7px;
    margin-right: 4px;
}
.main-image-container{
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 9px;
    flex-shrink: 0;
    margin-right: 19px;
}
.main-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.country{
    text-transform:uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a{
     color: #2B283A;
    font-size: 0.7rem;
}
.info-container a:visited {
    color: #918E9B;
}

.entry-title{
    margin-top: 7px;
    margin-bottom: 17px;
}
.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}