header{
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    color: white;
    height: 55px;
    align-items: center;
}
header > img{
    width: 30px;
    margin-right: 10px;
}
header > h1{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Inter";
}